# Folders to be excluded
.idea
_out
apiserver.local.config
bin

# Test binary, build with `go test -c`
*.test
webhook

# Ignore the built binary
cert-manager-webhook-godaddy
/vendor/
/testdata/godaddy/secret.yaml
