name: Release Godaddy Webhook Helm Chart
on:
  push:
    branches:
      - main
jobs:
  release:
    runs-on: ubuntu-latest
    # https://docs.github.com/en/actions/using-jobs/assigning-permissions-to-jobs
    permissions:
      contents: write # for creating Releases .tgz (403 from chart-releaser-action if not set)
      #pages: write # not required for chart-releaser-action
    steps:
      - name: Checkout
        uses: actions/checkout@v3
        with:
          fetch-depth: 0

      - name: Configure Git
        run: |
          git config user.name "$GITHUB_ACTOR"
          git config user.email "$GITHUB_ACTOR@users.noreply.github.com"

      - name: Run chart-releaser
        uses: helm/chart-releaser-action@v1.5.0
        with:
          charts_dir: deploy/helm
        env:
          CR_TOKEN: "${{ secrets.GH_TOKEN }}"